<!DOCTYPE html>
<html>

<head>
  <title>shucks and sugar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Vollkorn|Raleway">
  <meta charset="UTF-8">
  <meta name="description" content="Word puzzle solver">
  <meta name="keywords" content="cryptic, crossword, puzzle, solve, solver, scrabble, anagram, synonym">
  <meta name="author" content="catohaste">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon"/>
</head>

<body>
	<div class=runner>
		<div class=header>
      <div class="heading">
        <h1 id="shucks_and_sugar"><a href="{{ url_for('default') }}">shucks and sugar.</a></h1>
      </div>
		</div>
        
    {% block body %}{% endblock %}
        
	</div>
</body>

</html>

