{% extends "layout.html" %}

{% block body %}

<div class="flexsearch">
	<div class="flexsearch--wrapper">
		<form class="flexsearch--form" action="{{ url_for('get_query') }}" method="post">
			<div class="flexsearch--input-wrapper">
				<input class="flexsearch--input" type="text" placeholder="Search..." name=q value="{{ q }}">
			</div>
			<input class="flexsearch--submit" type="submit" value="&#10140;"/>
		</form>
	</div>
</div>

<!-- <form action="{{ url_for('get_query') }}" method=post class=form-wrapper>
    <input type=text  placeholder="Search for..." name=q  value="{{ q }}" size=30 id=search>
    <input type=submit value="GO" id=submit>
</form> -->
{% endblock %}