/* MAIN *******************************************************************************************/

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
  	background-color: #FFF;
	height: 100%;
	margin: 0px;
	padding: 0px;
    font-family: 'Raleway', sans-serif; !important
}

.runner {
	margin: 0px auto;
	width: 74%;
	background-color: #FFF;
	padding: 0 0 0 0;
	height: 100%;
}

/* HEADER *****************************************************************************************/

.header {
    background-color: #FFF;
    height: 150px;
    border-bottom: 5px #000 solid;
    margin: 0 0 50px 0;
}

.heading {
    text-align: left;
    padding: 50px 0 0 50px;
}

.heading h1 {
	font-weight: normal;
    font-family: 'Vollkorn', serif;
	font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
}

.heading h1 a {
    text-decoration: none;
    color: #000;
}



/* RESULTS ****************************************************************************************/

body div {
    text-align: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li p {
    text-align: center;
    padding: 0px 16px;
}

/* SEARCH BAR *************************************************************************************/

@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	background: transparent;
	margin: 0 auto;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 75px 0 75px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 36px 0 20px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Raleway', sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Raleway', sans-serif;
    font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}