/* Coolors Exported Palette - coolors.co/b4edd2-43c59e-8ad3d9-f06449-ede6e3 */

/* HSL */
$color1: hsla(152%, 61%, 82%, 1);
$color2: hsla(162%, 53%, 52%, 1);
$color3: hsla(185%, 51%, 70%, 1);
$color4: hsla(10%, 85%, 61%, 1);
$color5: hsla(18%, 22%, 91%, 1);

/* RGB */
$color1: rgba(180, 237, 210, 1);
$color2: rgba(67, 197, 158, 1);
$color3: rgba(138, 211, 217, 1);
$color4: rgba(240, 100, 73, 1);
$color5: rgba(237, 230, 227, 1);